DeferredRenderer/.vs/
DeferredRenderer/Debug/
DeferredRenderer/DeferredRenderer/Debug/
DeferredRenderer/DeferredRenderer/x64/
DeferredRenderer/packages/
DeferredRenderer/x64/
DirectX/.vs/
DirectX/DeferredRenderer/x64/
DirectX/packages/
DirectX/x64/
